/*  General styling*/
* {
    font-family: "JetBbrains Mono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    color: white;
}

/*  Waybar*/
#waybar {
    background-color: transparent;
    box-shadow: none;
}

/* Module left*/
.modules-left {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

/*  Module center*/
.modules-center {
    background-color: transparent;
    margin-bottom: 8px;
}

#window {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
    padding: 0 8px;
}

/*  Module right*/
.modules-right {
    background-color: transparent;
}

/*  Common modules*/
#data,
#clock,
#tray {
    border: 1px solid white;
    padding: 0 10px;
}

/* Group*/
#data {
    margin-left: 5px;
    margin-top: 5px;
}

#on {
    padding: 8px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid white;
}

#wire {
    margin-left: 5px;
    border: 1px solid white;
    margin-bottom: 5px;
}

/*  Others*/
/* Arch*/
#custom-arch {
    font-size: 18px;
    margin-right: 10px;
    padding: 0 8px;
    margin-bottom: 5px;
}

/* Workspaces*/
#workspaces {
    margin-top: 5px;
}

#workspaces button {
    font-size: 12px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;

}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, .2);
    color: white;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, .4);
    color: white;
}

/* Clock */
#clock {
    border: 1px solid white;
    padding: 0 10px;
    margin-bottom: 5px;
}

/* Idle Behavior*/
#idle_inhibitor {
    padding: 0 10px;
}

/* Pacman*/
#custom-pacman {}

/* Cpu usage*/
#cpu {
    padding-left: 10px;
}

/* Network wifi*/
#network {
    padding: 0 10px;
}

/* Bluetooth*/
#bluetooth {
    padding: 0 8px;
}

/*  Audio*/
#pulseaudio {
    padding: 0 10px;
}

/*  Tray*/
#tray {
    border: 1px solid white;
    padding: 0 10px;
    margin-left: 5px;
    margin-top: 5px;
}

/* Power*/
#custom-power {
    font-size: 15px;
    padding: 0 10px;
}
